
/* DEsigned for 320px min width */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
/* Globals */
:root {
  --light: #f0ece2;
  --dark: #596e79;
  --primary: #c7b198;
  --primary-light: #dfd3c3;
}
* {
  box-sizing: border-box;
}
html,body{
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background: var(--light);
  color: var(--dark);
  font-family: 'Roboto Condensed', sans-serif; 
}
h1,p,h2,h3 {
  margin: 0;
}
.container {
  width: 75%;
  margin: auto;
}
#page-container {
  margin-bottom: 6em;
}
/* Navigation */
nav{
  background: var(--primary);
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}
#logo a {
  text-decoration: none;
  color: var(--dark);
  display: block;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 1em;
  font-weight: 800;
  text-transform: capitalize;
  border: 2px solid var(--dark);
  align-self: center;
}
/* meal search */
#search-meal-container {
  margin-top: 3.5em;
}
#search-meal-container input {
  width: 60%;
  font-family: 'Roboto Condensed', sans-serif;
  color: var(--dark);
  padding: 8px;
  border-radius: 8px;
  outline: none;
  border: none;
}
#search-meal-icon {
  display: inline-block;
  width: 8%;
  font-size: 1.2em;
  text-align: center;
}
#filter {
  border: none;
  outline: none;
  padding: 4px;
  border-radius: 6px;
  font-size: 1.2em;
}
/* meal ordered card */
#ordered-meal-text {
  margin-top: 1em;
  padding: 1em 0;
  font-size: 1.2em;
  text-transform: capitalize;
}
#meal-card-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 1.5em;
}
.meal-cards {
  background: var(--primary);
  border-radius: 8px;
  width: 30%;
  margin-right: 3%;
  margin-top: 1em
}
.card-heading {
  border-bottom: 1px solid var(--dark);
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
}
.card-heading-icon {
  align-self: center;
}
.meal-property {
  font-weight: 900;
  font-size: 1em;
}
.card-body {
  padding: 0.5em 1em;
  border-bottom: 1px solid var(--dark);
}
/* meal card footer */ 
.card-footer {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 0.8em auto;
}
button {
  border: none;
  outline: none;
  padding: 6px;
  color: var(--primary-light);
  border-radius: 8px;
  text-transform: capitalize;
}
.accept {
  background: #538f53;
}
.decline {
  background: #914a4a;
}
/* paginate */
#paginate {
  text-align: center;
  margin: 2em 0;
  display: flex;
  justify-content: center;
}
.page {
  display: inline-block;
  font-size: 1em;
  padding: 0.3em;
  width: 1.8em;
  margin-right: 2%;
  background: var(--dark);
  color: var(--primary-light);
  border-radius: 50%;
}
.page a {
  color: var(--primary-light);
}
/* footer */
#footer {
  text-align: center;
  background: var(--primary);
  color: var(--dark);
  font-size: 1.3em;
  padding: 0.5em;
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
}
#footer p {
  margin: 0;
}
@media screen and (min-width: 910px) { 
  nav {
    padding: 0 2em;
  }
}
@media screen and (max-width: 1050px) {
  .card-footer {
    width: 70%;
  }
  h2{
    font-size: 1.2em;
  }
}
@media screen and (max-width: 960px) {
  h2 {
    font-size: 1em;
  }
}
@media screen and (max-width: 860px) {
  .container {
    width: 85%;
    margin: auto;
  }
  #meal-card-container {
    justify-content: space-evenly;
  }
  .card-footer {
    width: 80%;
  }
}
@media screen and (max-width: 780px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 670px) {
  .container {
    width: 80%;
  }
  .meal-cards {
    width: 45%;
  }
}
@media screen and (max-width: 580px) {
  #search-meal-card-container input {
    width: 50%;
  }
}
@media screen and (max-width: 536px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 70%;
  }
  .meal-cards {
    width: 80%;
  }
  .meal-property {
    font-size: 1.3em;
  }
  .card-footer {
    width: 65%;
  }
  #search-meal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #filter {
    width: 80%;
    margin-top: 0.5em;
  }
  #search-meal-container input {
    width: 60%;
  }
  #search-meal-icon {
    width: 10%;
    align-self: center;
  }
}
@media screen and (max-width: 385px) {
  .container {
    width: 90%;
  }
}