
/* DEsigned for 320px min width */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

:root {
  --light: #f0ece2;
  --dark: #596e79;
  --primary: #c7b198;
  --primary-light: #dfd3c3;
}
* {
  box-sizing: border-box;
}
html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background: var(--primary);
  color: var(--dark);
  font-family: 'Roboto Condensed', sans-serif; 
}
h1,p,h2 {
  margin: 0;
}
img {
  max-width: 100%;
}
/* Dsign navigation */
nav{
  background: var(--dark);
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}

#logo a, #large-width-nav a, #small-width-nav a, #hamburger, #meal-number {
  text-decoration: none;
  color: var(--primary);
  display: block;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 1em;
  font-weight: 800;
  text-transform: capitalize;
}
#logo a {
  border: 2px solid var(--primary-light);
  align-self: center;
}
#large-width-nav #active {
  background: var(--primary-light);
  color: var(--dark)
}
#large-width-nav {
  display: none;
}
#large-width-nav a:hover {
  background: var(--primary);
  color: var(--dark);
}
#small-width-nav {
  position: absolute;
  transform: translate(-280px, 0);
  transition: transform 0.3s ease;
  width: 200px;
  background: var(--primary-light);
}
#small-width-nav a {
  color: var(--dark);
  font-size: 1.3em;
  border-bottom: 2px solid var(--dark);
  display: block;
  margin: 0;
}
#small-width-nav.open {
  transform: translate(0, 0);
}
/* Design user details */
#user-container {
  height: calc(100vh - 80px);
}
#user-identify,
#user-actions {
  min-height: 50%;
}
#user-identify {
  padding: 1em;
  text-align: center;
  padding-top: 1.5em;
  font-size: 1.5em;
}
#user-identify img {
  width: 50%;
  height: 60%;
  display: block;
  margin: auto;
  margin-bottom: 1em;
  border-radius: 60%;
}
#user-actions {
  background: var(--primary-light);
  padding: 1.2em;
}
#list-user-actions {
  list-style: none;
  font-size: 1.5em;
  margin: 0.5em;
  padding: 0;
}
#list-user-actions li {
  height: 2.2em;
  text-transform: capitalize;
}
#meal-number {
  color: var(--dark);
  display: inline;
}
/* Design filter-by */
#filter-text {
  text-align: center;
  text-transform: capitalize;
  background: var(--primary);
  margin: 1.2em;
  padding: 0.5em;
  font-size: 1.5em;
}
#filter {
  margin: 1.5em 0;
}
#filter input {
  width: 95%;
  margin: auto;
  outline: none;
  border: none;
  padding: 0.5em;
  border-radius: 4px;
  display: block;
  font-size: 1.5em;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 0.2em;
  color: var(--dark);
}
#filter-by {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
#filter-by-detail {
  width: 70%;
  display: block;
  font-size: 1.8em;
  padding: 0.5em;
  margin-top: 0.2em;
  color: var(--dark);
  font-family: 'Roboto Condensed', sans-serif;
}
#search {
  color: var(--dark);
  display: block;
  width: 25%;
  text-align: center;
  font-size: 1.6em;
  padding-top: 0.7em;
}
/* Meal offer details */
.meals {
  background: var(--primary-light);
  height: 380px;
  margin-top: 1em;
  border-radius: 10px;
}
.meals img {
  height: 50%;
  width: 100%;
}
.meal-details {
  padding: 0 1em
}
.meal-details p {
  color: var(--dark);
  font-size: 1.3em;
  margin-top: 0.3em;
}
.meal-property {
  font-weight: 900;
  display: inline;
  margin: 0;
  padding: 0;
  color: var(--dark);
}
/* pagination */
#paginate {
  text-align: center;
  margin: 2em 0;
  display: flex;
  justify-content: center;
}
.page {
  display: inline-block;
  font-size: 1em;
  padding: 0.3em;
  width: 2em;
  margin-right: 2%;
  background: var(--dark);
  color: var(--primary-light);
  border-radius: 50%;
}
.page a {
  color: var(--primary-light);
}
/* footer */
#footer {
  text-align: center;
  background: var(--dark);
  color: var(--primary-light);
  font-size: 1.3em;
  padding: 0.5em;
}
#footer p {
  margin: 0;
}
/* Design for screen widths larger than 350px */
@media screen and (min-width: 350px) {
  .meals, #filter input, #filter-by {
    width: 90%;
    margin: auto;
  }
  #filter input {
    margin-top: 0.2em;
  }
  .meals {
    margin-top: 1.5em;
  }
}
@media screen and (min-width: 410px) {
  #user-identify {
    width: 80%;
    margin: auto;
  }
  #user-container {
    margin-bottom: 2em;
  }
  #user-actions {
    padding: 1em 4em;
  }
  #list-user-actions {
    font-size: 1.8em;
  }
  nav {
    padding: 0.5em 2.0em;
  }
  #hamburger, #logo {
    padding: 0;
    font-size: 1em;
  }
  #hamburger {
    padding: 0.3em;
  }
}
@media screen and (min-width: 470px) {
  /* Design user action */
  #user-container {
    display: flex;
    flex-direction: column;
    height: unset;
    padding: 0.5em;
    margin: 0.8em;
    border-radius: 8px;
    background: var(--light);
  }
  #user-identify, #list-user-actions, #user-actions {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
  }
  #user-identify {
    display: flex;
    justify-content: center;
    margin: 1.2em auto;
    width: 90%;
  }
  #user-identify img {
    width: 35%;
  }
  #user-identify-text {
    flex-grow: 1;
    align-self: center;
    font-size: 1.3em;
  }
  #user-actions {
    background: unset;
  }
  #meal-number {
    margin: 0;
  }
  #list-user-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90%;
    margin: auto;
  }
  #list-user-actions li {
    width: 50%;
    padding: 0.2em;
  }
  /* Design filter */
  .meals, #filter input, #filter-by {
    width: 70%;
    margin: auto;
  }
  #filter input {
    margin-top: 0.2em;
  }
  .meals {
    margin-top: 1.5em;
    height: 350px;
  }
  .meal-details {
    padding-top: 1.3em;
  }
  #filter-text h2{
    margin-top: 1em;
  }
  #filter-text {
    margin: 0;
  }
}
@media screen and (min-width: 530px) {
  #filter-text {
    padding: 0;
    margin: 1em;
  }
  #filter-text h2 {
    margin-top: 0;
    padding-top: 0.5em
  }
  .meals {
   margin: 1.2em auto;
   width: 43%;
   height: 320px;
  }
  .meals img {
    height: 40%;
  }
  .meal-details {
    padding: 1em;
  }
  #meals-ordered {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
  } 
  #filter input, #filter-by {
    width: 70%;
    margin: auto;
  }
  #filter input {
    margin-top: 0.2em;
  }
  .meals {
    margin-top: 1.5em;
  }
}
@media screen and (min-width: 630px) {
  #user-container {
    width: 80%;
    margin: 1.3em auto;
  }
  #meals-ordered {
    width: 80%;
    margin: auto;
  }
  .meals {
    margin-top: 1.5em;
    height: 300px;
    width: 40%;
  }
  .meals img {
    height: 40%;
  }
  #hamburger, #small-width-nav {
    display: none;
  }
  #large-width-nav {
    display: block;
  }
  #large-width-nav a {
    display: inline-block;
    margin: 0 0.5em;
    padding: 1em;
  }
}
@media screen and (min-width: 700px) {
  .meals img {
    height: 45%;
  }
  #user-identify img {
    width: 25%;
  }
}
@media screen and (min-width: 840px) {
  #user-container {
    flex-direction: row;
    width: 85%;
  }
  #user-identify, #user-actions {
    width: 50%;
  }
  #user-actions {
    margin-top: 2em;
  }
  #user-identify-text {
    font-size: 1em;
  }
  #user-identify img {
    width: 150px;
    height: 150px;
  }
  #list-user-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  #list-user-actions li {
    width: 48%;
    align-self: center;
    height: 3em;
  }
}
@media screen and (min-width: 860px) {
  /* Design navigation */
  #large-width-nav a {
    font-size: 1.3em;
  }
  /* Design filter */
  #filter {
    display: flex;
    width: 95%;
    margin: auto;
  }
  #filter-by {
    width: 40%;
    justify-content: flex-start;
  }
  #filter-input {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: flex-start;
  }
  #filter input {
    display: inline-block;
    width: 49%;
    height: 3em;
  }
  #filter-by-detail {
    height: 2.5em;
    padding: 0.5em;
    width: 70%;
  }
  #search {
    padding-left: 0.3em;
  }
  .meals {
    width: 31%;
    height: 300px;
  }
  #meals-ordered {
    width: 95%;
    margin: auto;
  }
}
@media screen and (min-width: 910px) {
  nav {
    padding: 0 2em;
  }
  #filter-container, #user-container {
    width: 80%;
    margin: auto;
  }
  #user-container {
    margin-top: 2em;
    padding-left: 1.5em;
  }
}
@media screen and (min-width: 1080px) {
  #meals-ordered {
    width: 80%;
  }
  .meals {
    width: 31%;
    height: 300px;
  }
  #filter {
    width: 93%;
    margin: auto;
  }
}